# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment variables
.env

# Model files (optional if large)


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Node modules (React)
node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db